@charset "UTF-8";

@import url("main768.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
.warp {
  width: 100%;
  text-align: center;
}

.container {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

/* 모달창 */
.modal .notic {
  display: block;
}

.modal {
  display: none;
  width: 80%;
  height: 100%;
  /* background-color: #a34f4f; */
  text-align: center;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background-color: #f0eeee;
}

.modal-wrap {
  width: 100%;
  margin: 0 auto;
}
.modal h1 {
  font-size: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-content h2 {
  padding-bottom: 35px;
  border-bottom: 1px solid #333;
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.modal-center,
.modal-as,
.modal-change {
  width: calc(100% / 3);
  position: relative;
  margin: 0 30px;
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-content p {
  height: 40px;
  margin-bottom: 50px;
  font-size: 15px;
}

.modal-content button {
  position: absolute;
  left: 50%;
  bottom: -88px;
  transform: translateX(-50%);
  width: 100%;
  color: #333;
  padding: 10px;
}

.modal-content button a {
  color: #333;
  font-size: 20px;
  z-index: 99999;
}
.close-button {
  background-color: #fff;
  color: #333;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* 헤더 */
/* 햄버거바 */

/* .mobile-menu-bar {
  display: none;
}
/* 헤더1 */
.header1 {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  position: fixed;
}
/* 햄버거바 */
.mobile-menu-bar {
  display: none;
  font-size: 50px;
  padding-left: 20px;
}
/* 로고 */
.logo {
  min-width: 200px;
  text-align: center;
  display: block;
  width: 20%;
}

.logo a {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
}
/* 헤더1 메뉴 */
.headre1-menu {
  width: 40%;
  font-size: 25px;
}

.headre1-menu ul {
  width: 100%;
  display: flex;
}

.headre1-menu li {
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
}
.headre1-menu li a {
  color: #fff;
}
.Introduce {
  border-bottom: 2px solid #fff;
}
/* 헤더 1 버튼 */
.header1-button {
  width: 20%;
  height: 60%;
  display: flex;
  min-width: 198px;
  gap: 10px;
  padding-right: 10px;
}

.header1-button button {
  background-color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: 70px;
  padding: 10px 0;
}

/* 헤더 2 */

.header2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 10px;
}
.notic {
  align-items: center;
  justify-content: center;
}
.noticClick {
  font-size: 3vw;
}
/* sns */

.sns {
  width: 100px;
}
.sns ul {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sns li {
  width: calc(50%);
}
.sns img {
  width: 100%;
  border-radius: 20%;
}
/* 배너 섹션 */
.bannersection {
  display: flex;
  width: 100%;
  /* height: 500px;
  overflow: hidden; */
}

.slider-warp {
  width: 40%;
  height: 49.4vw;
  background-color: aqua;
}

.bannerSwiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 49.4vw;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 49.4vw;
  object-fit: cover;
}
/* 배너 오른쪽  */
.text-warp {
  position: relative;
  width: 60%;

  height: 49.4vw;
  background-color: #333;
  padding: 30px;
}

/* 검색창 */

.search-section {
  position: relative;
  width: 100%;
  background-color: antiquewhite;
}
.search {
  /* position: absolute;
  top: 10px;
  right: 0; */
  display: block;
  width: 20%;
  min-width: 90px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: auto;
}

.search input {
  width: 60%;
  line-height: 32px;
  border: #fff;
}

.serch-input::placeholder {
  text-align: center;
  margin: auto;
  color: #333;
  font-size: 13px;
}
.shopping-mall p {
  color: #333;
}
.bannner-logo {
  width: 100%;
  height: 29.4vw;

  /* position: relative; */
  /* padding: 50px; */
  background-color: aqua;
}
.bannner-logo h1 {
  /* background-color: aquamarine; */
  font-size: 9vw;
  text-align: left;
  padding-left: 20px;
}
/* 쇼핑몰 바로가기 */
.shopping-mall {
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.shopping-mall button {
  padding: 5px 20px;
  padding: 10px 0;
  border-radius: 60px;
}
.shopping-mall button a {
  font-size: 20px;
  font-weight: bolder;
}

/* 섹션1 */

.section1 {
  margin-top: 100px;
  width: 100%;
}

.playshop-infor {
  display: flex;
}
/* concep */
.concept {
  padding-right: 10px;
  width: 50%;
  border-right: 1px solid #333;
}

.concept span {
  color: rgb(184, 61, 163);
}
.concept h2 {
  text-shadow: 0 4px 4px #333;
  font-size: 60px;
  margin-bottom: 50px;
}

.concept p {
  text-shadow: 0 4px 4px #807f7f;
  text-align: left;
  font-size: 30px;
  margin-bottom: 50px;
}

.concept b {
  font-size: 30px;
}
/* 종류 */
.concept2 {
  padding-left: 20px;
  margin: auto 0;
  width: 60%;
  text-align: left;
  text-shadow: 0 4px 4px #807f7f;
}

.kind {
  display: flex;
  margin-bottom: 50px;
}

.kind h1 {
  width: 30%;
  text-shadow: 0 4px 4px #807f7f;
  font-size: 40px;
}
.kind p {
  width: 70%;
  padding-left: 10px;
  font-size: 25px;
  text-shadow: 0 4px 4px #807f7f;
}

.kind span {
  color: rgb(184, 61, 163);
  border-bottom: 1px solid rgb(184, 61, 163);
}

/* 스포츠 에디션 */

.soprts-edition {
  background-color: yellow;
  line-height: 100px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
}
/* 슬라이더 */
.slider {
  position: relative;
}

.section2 {
  position: relative;
  padding: 100px;
}
:root {
  --swiper-theme-color: #515150;
}

.swiper-pagination-bullet {
  margin-top: 100px;
  width: 20px;
  height: 20px;
}

/* 호버 */
/* 호버 배경 */
.slider:hover .img-hover {
  display: block;
}
.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
/* 호버-상품이름, 가격 */
.product-name {
  font-size: 50px;
  margin: 50px 0;
}

.productprice {
  font-size: 50px;
  margin-bottom: 50px;
}

/*  호버 색상*/

.color {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.color1:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: yellow;
}
.color2:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(242, 48, 0);
}
.color3:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(32, 32, 32);
}
/* 상품 버튼*/

.productbutton button {
  background-color: #333;
  width: 70%;
  border-radius: 50px;
  line-height: 40px;
  color: #333;
}

.productbutton button a {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
/* section3=프로모션 */
.section3 {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.promotion {
  padding: 50px 0;
  float: right;
  width: 50%;

  background-color: violet;
}

.promotiontext {
  width: 60%;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  border-radius: 40px;
}

.summerpromotion h1 {
  font-size: 50px;
  margin-bottom: 100px;
}

.summerpromotion h2 {
  font-size: 30px;
}

.summerpromotion h2 span {
  font-size: 50px;
  margin-top: 20px;
}
.infor {
  margin-top: 20px;
}
.summerpromotion h3 {
  margin-bottom: 50px;
}

.coupon {
  width: 120px;
  height: 100px;
  border-radius: 30px;
  color: violet;
  border: none;
}
.coupon button {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  color: violet;
  border: none;
}

.coupon a {
  letter-spacing: 5px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

/* 크리에이타 */

.creatorsecrtion {
  width: 50%;
  padding: 50px 0;
  background-color: #333;
}

.creator h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.creator-infor {
  width: 60%;
  line-height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 40px;
}

.creator-infor::placeholder {
  font-size: 40px;
}
.creator button {
  padding: 5px 20px;
  width: 30%;
  line-height: 50px;
  border-radius: 60px;
  margin-bottom: 50px;
}
.creator button a {
  font-size: 20px;
  font-weight: bolder;
  color: #333;
}
/* 하단-1 */

.footer1 {
  padding: 0 auto;
  text-align: center;
}

.footer1-infor {
  width: 50%;
  margin: 20px auto;
  display: flex;
}

.footer-logo {
  width: 100px;
  line-height: 50px;
  background-color: black;
  font-weight: bold;
  color: #fff;
}
.footer-shop-infor {
  margin: 0 auto;
  display: inline;
}

/* 하단-2 */
.footer2 {
  padding: 20px 0;
  background-color: #333;
}

.footer-menu {
  margin: 0 auto;
  width: 50%;
  display: flex;
}

.footer-menu li {
  position: relative;
  width: 3px;
  width: calc(100% / 4);
  border-right: 1px solid #fff;
}

.footer-menu li:nth-child(4) {
  border-right: none;
}

.footer2-infor p {
  margin-top: 10px;
  color: #fff;
}
