@charset "UTF-8";

@import url("main1000.css");
@import url("main1300.css");
@import url("mobile.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
body {
  min-width: 300px;
}
.warp {
  width: 100%;
  text-align: center;
}

.container {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

/* 모달창 */

.modal {
  display: none;
  width: 80%;
  height: 100%;
  /* background-color: #a34f4f; */
  text-align: center;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background-color: #f0eeee;
}
.modal.notic {
  display: block;
}

.modal-wrap {
  width: 100%;
  margin: 0 auto;
}
.modal h1 {
  font-size: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-content h2 {
  padding-bottom: 35px;
  border-bottom: 1px solid #333;
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.modal-center,
.modal-as,
.modal-change {
  width: calc(100% / 3);
  position: relative;
  margin: 0 30px;
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-content p {
  height: 40px;
  margin-bottom: 50px;
  font-size: 15px;
}

.modal-content button {
  position: absolute;
  left: 50%;
  bottom: -88px;
  transform: translateX(-50%);
  width: 100%;
  color: #333;
  padding: 10px;
}

.modal-content button a {
  color: #333;
  font-size: 20px;
  z-index: 99999;
}
.close-button {
  background-color: #fff;
  color: #333;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* 헤더 */

/* 헤더1 */
.header1 {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  position: fixed;
}
/* 햄버거바 */
.mobile-menu-bar {
  display: none;
  font-size: 50px;
  padding-left: 20px;
}
/* 로고 */
.logo {
  min-width: 200px;
  text-align: center;
  display: block;
  width: 20%;
}

.logo a {
  color: #fff;
  font-size: 3vw;
  font-weight: bold;
  line-height: 70px;
}
/* 헤더1 메뉴 */
.headre1-menu {
  width: 40%;
  font-size: 25px;
}

.headre1-menu ul {
  width: 100%;
  display: flex;
}

.headre1-menu li {
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
}
.headre1-menu li a {
  color: #fff;
}
.Introduce {
  border-bottom: 2px solid #fff;
}
/* 헤더 1 버튼 */
.header1-button {
  width: 20%;
  height: 60%;
  display: flex;
  min-width: 198px;
  gap: 10px;
  padding-right: 10px;
}

.header1-button button {
  background-color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: 70px;
  padding: 10px 0;
}

/* 헤더 2 */

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 10px;
}
.notic {
  align-items: center;
  justify-content: center;
}
.noticClick {
  font-size: 3vw;
}
/* sns */

.sns {
  width: 6%;
  min-width: 40px;
  padding: auto;
}
.sns ul {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sns li {
  width: calc(50%);
}
.sns img {
  width: 100%;
  border-radius: 20%;
}
/* 배너 섹션 */
.bannersection {
  display: flex;
  width: 100%;
  /* height: 500px;
  overflow: hidden; */
}

.slider-warp {
  position: relative;
  width: 40%;
  height: 49.4vw;
}

.bannerSwiper {
  width: 100%;
  height: 100%;
}
.bannerSwiper > .swiper-slide {
  height: 49.4vw;
}

.bannerSwiper .swiper-slide img {
  height: 49.4vw;
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* 배너 오른쪽  */
.text-warp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 49.4vw;
  background-color: #333;
  padding: 5%;
}

/* 검색창 */

.search {
  display: block;
  width: 25%;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: auto;
  /* overflow: hidden; */
}

.search input {
  width: 60%;
  height: 100%;
  border: #fff;
}

.serch-input::placeholder {
  text-align: center;
  margin: auto;
  color: #333;
  font-size: 1vw;
}

.bannner-logo {
  font-size: 5vw;
  text-align: left;
  text-shadow: 2px 2px 2px #807f7f;
  margin-bottom: 15px;
}

/* 쇼핑몰 바로가기 */
.shopping-mall {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shopping-mall button {
  width: 60%;
  padding: 5px 20px;
  border-radius: 60px;
}

.shopping-mall a {
  font-size: 2vw;
  font-weight: bold;
}
.online {
  margin-bottom: 2%;
}
/* 모바일 배너 텍스트섹션 */
.mb-slide-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
  padding: 10px;
}

.mb-search {
  width: 150px;
  background-color: #fff;
  border-radius: 50px;
  margin: 0 auto;
}

.mb-slide-text h1 {
  font-size: 12vw;
  padding: 10px 0;
  color: #fff;
  text-shadow: 2px 2px 2px #333;
}

.mb-serch-input {
  width: 80%;
  height: 80%;
  border: #fff;
}

.mb-banner-button button {
  padding: 5px 10px;
  border-radius: 60px;
}
.mb-banner-button a {
  font-size: 3vw;
  font-weight: bold;
}
/* 섹션1 */

.section1 {
  margin-top: 100px;
  width: 100%;
}

.playshop-infor {
  display: flex;
}
/* concep */
.concept {
  padding-right: 10px;
  width: 50%;
  border-right: 1px solid #333;
}

.concept span {
  color: rgb(184, 61, 163);
}
.concept h2 {
  text-shadow: 0 4px 4px #333;
  font-size: 60px;
  margin-bottom: 50px;
}

.concept p {
  text-shadow: 0 4px 4px #807f7f;
  text-align: left;
  font-size: 30px;
  margin-bottom: 50px;
}

.concept b {
  font-size: 30px;
}
/* 종류 */
.concept2 {
  padding-left: 20px;
  margin: auto 0;
  width: 60%;
  text-align: left;
  text-shadow: 0 4px 4px #807f7f;
}

.kind {
  margin-bottom: 50px;
}

.kind h1 {
  text-shadow: 0 4px 4px #807f7f;
  font-size: 40px;
}
.kind p {
  margin: 10px;
  padding-left: 10px;
  font-size: 25px;
  text-shadow: 0 4px 4px #807f7f;
}

.kind span {
  color: rgb(184, 61, 163);
  border-bottom: 1px solid rgb(184, 61, 163);
}
/* 컨셉 모바일 */
.mb-concept {
  display: none;
  position: relative;
  width: 100%;
}
.concept2-Swiper {
  width: 100%;
  position: relative;
}
.concept2-Swiper h1 {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.concept2-Swiper p {
  padding-top: 10px;
  width: 100%;
}
.conceptNext {
  position: absolute;
  right: -30px;
  top: 80px;
}
.conceptNext::after {
  font-size: 20px;
}

.conceptPrev {
  position: absolute;
  left: -30px;
  top: 80px;
}

.conceptPrev::after {
  font-size: 15px;
}
.mb-kind {
  margin-top: 25px;
}

.mb-kind h1 {
  text-shadow: 0 4px 4px #807f7f;
  font-size: 28px;
}
.mb-kind p {
  width: 100% !important;
  font-size: 13px;
  text-shadow: 0 4px 4px #807f7f;
}

.mb-kind span {
  color: rgb(184, 61, 163);
  border-bottom: 1px solid rgb(184, 61, 163);
}

.accessory > p {
  padding-top: 20px;
  background-color: yellow;
}
/* 스포츠 에디션 */

.sports-edition {
  margin-top: 100px;
  width: 100%;
  line-height: 100px;
  background-color: yellow;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
}
/* 슬라이더 */
.slider {
  position: relative;
}

.section2 {
  position: relative;
}
:root {
  --swiper-theme-color: #515150;
}

.swiper-pagination-bullet {
  margin-top: 100px;
  width: 20px;
  height: 20px;
}

/* 호버 */
/* 호버 배경 */
.slider:hover .img-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
/* 호버-상품이름, 가격 */
.product-name {
  font-size: 50px;
  color: #fff;
}

.productprice {
  font-size: 50px;
  color: #fff;
}

/*  호버 색상*/

.color {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.color1:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: yellow;
}
.color2:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(242, 48, 0);
}
.color3:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(32, 32, 32);
}
.sun-type1 {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
}

.capcolor1:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(79, 255, 123);
}

/* 상품 버튼*/
.productbutton {
  width: 100%;
  padding: 50px;
}
.productbutton button {
  background-color: #fff;
  width: 70%;
  border-radius: 50px;
  line-height: 40px;
  color: #333;
  border: 1px solid #fff;
}

.productbutton button a {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
/* section3=프로모션 */
.section3 {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.promotion {
  padding: 50px 100px;
  width: 50%;
  height: 750px;
  background-color: violet;
}

.summerpromotion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotiontext {
  width: 90%;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  gap: 15px;
}

.summerpromotion h1 {
  font-size: 5vw;
}

.summerpromotion h2 {
  font-size: 2.8vw;
}

.summerpromotion h2 span {
  font-size: 3.5vw;
}
.summerpromotion h3 {
  font-size: 1vw;
}

.promotion-warp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.coupon {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  border: none;
}

.coupon a {
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

/* 크리에이타 */

.creatorsecrtion {
  width: 50%;
  height: 750px;
  padding: 50px 100px;
  background-color: #333;
}
.creator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creator h1 {
  font-size: 3.3vw;
  margin-bottom: 50px;
  color: #fff;
}
.creator-infor {
  width: 80%;
  line-height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 40px;
}

.creator-infor::placeholder {
  font-size: 40px;
  padding-left: 10px;
}

.creator-buttom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.creator button {
  padding: 5px 20px;
  width: calc(90% / 2);
  line-height: 50px;
  border-radius: 60px;
}
.creator button a {
  font-size: 20px;
  font-weight: bolder;
  color: #333;
}
/* 하단-1 */

.footer {
  width: 100%;
  display: block;
}

.footer1 {
  padding: 0 auto;
  text-align: center;
}

.footer1-infor {
  width: 50%;
  margin: 20px auto;
  display: flex;
}

.footer-logo {
  width: 100px;
  line-height: 50px;
  background-color: black;
  font-weight: bold;
  color: #fff;
}
.footer-shop-infor {
  margin: 0 auto;
  display: inline;
}

/* 하단-2 */
.footer2 {
  padding: 20px 0;
  background-color: #333;
}

.footer-menu {
  margin: 0 auto;
  width: 60%;
  display: flex;
}

.footer-menu li {
  position: relative;
  width: calc(100% / 4);
  border-right: 1px solid #fff;
}
.footer-menu li a {
  color: #fff;
}

.footer-menu li:nth-child(4) {
  border-right: none;
}

.footer2-infor p {
  margin-top: 10px;
  color: #fff;
}
