@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
ul,
li {
  list-style: none;
}
.warp {
  width: 100%;
  text-align: center;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: antiquewhite;
}
/* 모달창 */

/* 헤더 */
/* 헤더1 */
.header1 {
  width: 100%;
  background-color: black;
  height: 70px;
  color: #fff;
  display: flex;
  position: relative;
}

.logo {
  width: 20%;
  margin: auto 0;
  font-size: 31px;
}

.header-menu {
  text-align: center;
  width: 40%;
  display: flex;
  margin: auto;
}
.header-menu a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.header-menu li {
  width: calc(100% / 3);
  /* padding-bottom: 10px ; */
}
.header-menu li a {
  padding-bottom: 5px;
}
.introduce {
  border-bottom: 2px solid #fff;
}

.header-menu li:hover a {
  border-bottom: 2px solid #fff;
}

.header-button {
  width: 15%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.header-button > a {
  width: calc(100% / 2);
  background-color: #fff;
  width: 100%;
  gap: 20;
  font-size: 20px;
  color: aqua;
}

.header-button button {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: #fff;
  padding: 10px;
}
/* 헤더 2 */
.header2 {
  width: 100%;
  line-height: 100px;
}
.header2 h1 {
  width: 100%;
}
.notic {
  width: 100%;
  display: flex;
  align-items: center;
}

.sns ul {
  background-color: aqua;
  width: 150px;
}

.sns li {
  width: calc(100% / 2);
  height: 50px;
  float: left;
}
.sns img {
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
/* 배너 */