@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
ul,
li {
  list-style: none;
}
.warp {
  width: 100%;
  text-align: center;
}

.container {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  background-color: #a34f4f;
}
*
/* 모달창 */
.modal .notic {
  display: block;
}

.modal {
  display: none;
  width: 80%;
  height: 100%;
  /* background-color: #a34f4f; */
  text-align: center;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background-color: #f0eeee;
}

.modal-wrap {
  width: 100%;
  margin: 0 auto;
}
.modal h1 {
  font-size: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-content h2 {
  padding-bottom: 35px;
  border-bottom: 1px solid #333;
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.modal-center,
.modal-as,
.modal-change {
  width: calc(100% / 3);
  position: relative;
  margin: 0 30px;
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-content p {
  height: 40px;
  margin-bottom: 50px;
  font-size: 15px;
}

.modal-content button {
  position: absolute;
  left: 50%;
  bottom: -88px;
  transform: translateX(-50%);
  width: 100%;
  color: #333;
  padding: 10px;
}

.modal-content button a {
  color: #333;
  font-size: 20px;
  z-index: 99999;
}
.close-button {
  background-color: #fff;
  color: #333;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* 헤더 */
/* 헤더1 */
.header1 {
  width: 100%;
  background-color: black;
  height: 70px;
  color: #fff;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo {
  width: 30%;
  margin: auto 0;
  font-size: 31px;
  min-width: 210px;
}

.header-menu {
  text-align: center;
  width: 40%;
  display: flex;
  margin: auto;
}
.header-menu a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.header-menu li {
  width: calc(100% / 3);
  /* padding-bottom: 10px ; */
}
.header-menu li a {
  padding-bottom: 5px;
}
.introduce {
  border-bottom: 2px solid #fff;
}

.header-menu li:hover a {
  border-bottom: 2px solid #fff;
}

.header-button {
  width: 15%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.header-button > a {
  width: calc(100% / 2);
  background-color: #fff;
  width: 100%;
  gap: 20;
  font-size: 20px;
  color: aqua;
}

.header-button button {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: #fff;
  padding: 10px;
}
/* 헤더 2 */
.header2 {
  padding-top: 70px;
  width: 100%;
  line-height: 100px;
}
.header2 h1 {
  width: 100%;
}
.notic {
  width: 100%;
  display: flex;
  align-items: center;
}

.sns ul {
  background-color: aqua;
  width: 150px;
}

.sns li {
  width: calc(100% / 2);
  height: 50px;
  float: left;
}
.sns img {
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

/* 배너 섹션 */
.bannersection {
  display: flex;
  width: 100%;
  /* height: 500px;
  overflow: hidden; */
}

.slider-warp {
  width: 40%;
}

.bannerSwiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}
/* 배너 오른쪽  */
.text-warp {
  position: relative;
  width: 60%;
  background-color: #333;
}

.text-righ {
  position: relative;
}
/* 검색창 */
.search {
  position: absolute;
  top: 5%;
  right: 17%;
  display: inline-block;
  width: 20%;
  line-height: 50px;
  background-color: #fff;
  border-radius: 50px;
}

.search input {
  width: 80%;
  line-height: 52px;
  border: #fff;
}

.serch-input::placeholder {
  text-align: center;
  color: #333;
  font-size: 20px;
}
.shopping-mall p {
  color: #333;
}

.paly,
.Shop {
  display: inline-block;
  font-size: 150px;
}

.paly {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9c0808;
  padding-top: 100px;
}

/*  */
/* 섹션1 */

.section1 {
  margin-top: 100px;
  width: 100%;
  background-color: rgb(223, 223, 17);
  display: flex;
}
.concept {
  width: 40%;
  background-color: antiquewhite;
}

.kind {
  background-color: aquamarine;
  width: 60%;
}
