@charset "UTF-8";

@media screen and (max-width: 800px) {
  /* 헤더 */
  .header1-button {
    display: none !important;
  }
  .mobile-menu-bar {
    font-size: 32px !important;
  }
  .mb-concept {
    display: block !important;
  }
  .slider-warp {
    width: 100% !important;
  }
  .mb-slide-text {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
  }

  .swiper-slide img {
    height: 93.4vw !important;
  }
  .text-warp {
    display: none !important;
  }

  /*  섹션 1 */
  .section1 {
    margin-top: 50px !important;
  }

  .concept {
    width: 100% !important;
    border-right: none !important;
    border-bottom: 1px solid #333 !important;
  }

  .concept h2 {
    font-size: 25px !important;
  }

  .concept b {
    font-size: 20px !important;
  }
  .concept p,
  .concept2 p {
    font-size: 15px !important;
    margin-bottom: 25px !important;
  }
  .concept2 {
    display: none !important;
  }
  .section3 {
    margin-top: 50px !important;
  }
  .promotion,
  .creatorsecrtion {
    height: 650px !important;
  }
  /* .promotion,
  .creatorsecrtion {
  } */
  .summerpromotion h1 {
    font-size: 40px !important;
    margin-bottom: 12px !important;
  }
}
@media screen and (max-width: 400px) {
  .conceptNext {
    top: 100px !important;
  }
  .conceptPrev {
    top: 100px !important;
  }
  /* 스포츠 에디션 */
  .sports-edition {
    font-size: 30px !important;
  }

  .product-name,
  .productprice {
    font-size: 25px !important;
  }

  .color {
    gap: 20px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .color1:before {
    width: 30px !important;
    height: 30px !important;
  }

  .color2:before {
    width: 30px !important;
    height: 30px !important;
  }
  .color3:before {
    width: 30px !important;
    height: 30px !important;
  }

  .productbutton button a {
    font-size: 12px !important;
  }
  /* 섹션3 */
  .promotion,
  .creatorsecrtion {
    height: 250px !important;
    padding: 10px 30px !important;
  }

  .promotion-warp {
    justify-content: center;
  }
  .promotiontext {
    width: 100% !important;
    gap: 5px !important;
  }
  .coupon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 7px !important;
  }

  .coupon a {
    letter-spacing: 1px !important;
    line-height: 0 !important;
    font-size: 10px !important;
  }
  .summerpromotion h1,
  .creator h1 {
    font-size: 23px !important;
  }
  /* .creatorsecrtion h1 {
    margin-bottom: 25px;
  } */
  .creator-infor::placeholder {
    font-size: 20px !important;
  }
  .creator-infor {
    font-size: 20px !important;
  }

  .summerpromotion h2 {
    font-size: 4.8vw;
  }
  .summerpromotion h2 span {
    font-size: 5.5vw !important;
  }
  .summerpromotion h3 {
    font-size: 2vw !important;
  }
  /* .promotion,
  .creatorsecrtion {
    height: 300px !important;
  }
  .summerpromotion h1 {
    font-size: 40px !important;
    margin-bottom: 12px !important;
  } */
}
